@tailwind base;
@tailwind components;
@tailwind utilities;



.btn{
  @apply mb-spacing-2 focus:font-vsb pl-spacing-3 relative block w-full 
}

/* .btn::after{
>>>>>>> snap-food
  @apply content-[''] bg-surface-overlay h-[0px] w-[2px] absolute rounded-lg opacity-0 mr-[20px]
  transition
  
} */
/* .btn:focus::after{
  @apply opacity-100 h-[25px] 
} */

.star{
  @apply pl-spacing-1
}



.scroll-hide::-webkit-scrollbar {
  display: none;
}


.revers-btn{
  @apply mb-spacing-2 focus:font-vsb pr-spacing-2 relative block w-full 
}
/* .revers-btn::before{
  @apply content-[''] bg-surface-overlay h-[0px] w-[2px] absolute rounded-lg  right-0 top-0
  transition
}

.revers-btn:focus::before{
  @apply opacity-100 h-[25px] 
} */


@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* @layer components {
     
} */

@layer {
  
  @font-face {
    font-family: "Vazirmatn-light";
    src: url("../public/font/Vazirmatn-light.ttf");
  }
  @font-face {
    font-family: "Vazirmatn-Regular";
    src: url("../public/font/Vazirmatn-Regular.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Medium";
    src: url("../public/font/Vazirmatn-Medium.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-SemiBold";
    src: url("../public/font/Vazirmatn-SemiBold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Bold";
    src: url("../public/font/Vazirmatn-Bold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-ExtraBold";
    src: url("../public/font/Vazirmatn-ExtraBold.ttf");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.hide {
  display: none;
}
.label-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  margin: 0 10px;
 
  
}
.input-toggle {
  display: none;
  
}



.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 15px;
  right: 2.5px;
  bottom: 2.5px;
  background-color: rgba(146, 140, 132, 0.932);;
  transition: 0.4s;
  border-radius: 50%;
}
.input-toggle:checked + .slider::after {
  background-color: rgb(37, 162, 104);
}
.input-toggle:checked + .slider::before {
  transform: translateX(-20px);
}

@media (min-width:320px) {
  .hide {
    display: none;
  }
}



::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border: 3px solid #fff;
  border-radius: 16px;
  
  transition: all .2s linear;
}


::-webkit-scrollbar-track {
  background-color: #0000;
  border-radius: 7px;
  cursor: pointer;
}
body{
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
      overflow-x: hidden;
      background-color: #F9FAFB;

}

.flipped{
  direction: ltr;
}

@media (min-width:600px) {
  .flipped{
    direction: rtl;
  }
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0efef;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebeb6;
  border-radius: 5px;
  border: 2px solid #fff;
}
 /* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
} 


