@tailwind base;
@tailwind components;
@tailwind utilities;



.btn{
  @apply mb-spacing-2 focus:font-vsb pl-spacing-4 relative block w-full text-left
}

.btn::after{
  @apply content-[''] bg-surface-overlay h-[0px] w-[2px] absolute rounded-lg opacity-0 mr-[20px]
  transition
  
}
.btn:focus::after{
  @apply opacity-100 h-[25px] 
}


.scroll-hide::-webkit-scrollbar {
  display: none;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* @layer components {
     
} */

@layer {
  
  @font-face {
    font-family: "Vazirmatn-light";
    src: url("../public/font/Vazirmatn-light.ttf");
  }
  @font-face {
    font-family: "Vazirmatn-Regular";
    src: url("../public/font/Vazirmatn-Regular.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Medium";
    src: url("../public/font/Vazirmatn-Medium.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-SemiBold";
    src: url("../public/font/Vazirmatn-SemiBold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-Bold";
    src: url("../public/font/Vazirmatn-Bold.ttf");
  }

  @font-face {
    font-family: "Vazirmatn-ExtraBold";
    src: url("../public/font/Vazirmatn-ExtraBold.ttf");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color:#3a3d42;
  
}


::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border: 3px solid #fff;
  border-radius: 16px;
  
  transition: all .2s linear;
}


::-webkit-scrollbar-track {
  background-color: #0000;
  border-radius: 7px;
  cursor: pointer;
}