@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
      font-family: "Vazirmatn-Regular";
      src: url("./font/Vazirmatn-Regular.ttf");
  }
  @font-face {
      font-family: "Vazirmatn-Medium";
      src: url("./font/Vazirmatn-Medium.ttf");
  }
  @font-face {
      font-family: "Vazirmatn-Semibo";
      src: url("./font/Vazirmatn-Semibo.ttf");
  }
  @font-face {
      font-family: "Vazirmatn-Thin";
      src: url("./font/Vazirmatn-Thin.ttf");
  }
  @font-face {
      font-family: "Vazirmatn-Thin";
      src: url("./font/Vazirmatn-Thin.ttf");
  }
  @font-face {
      font-family: "Vazirmatn-Thin";
      src: url("./font/Vazirmatn-Thin.ttf");
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
